<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util.xsd">
    <util:list list-class="java.util.ArrayList" id="cities">
    <value>Patna</value>
    <value>Banaras</value>
    <value>Pune</value>
    </util:list>
    <context:component-scan base-package="org.gopal"/>
    <context:annotation-config/>
    <!--    <bean name="emp" class="org.gopal.Emp">-->
    <!--        <property name="employeeName">-->
    <!--            <value>Raja</value>-->
    <!--        </property>-->
    <!--        <property name="employeeId">-->
    <!--            <value>rrj</value>-->
    <!--        </property>-->
    <!--    </bean>-->
    <!--    <bean name="emp" class="org.gopal.Emp" c:employeeName="Gopal Kumar"   c:employeeId="abcd" />-->
    <!--    <bean name="emp" class="org.gopal.Emp" >-->
    <!--        <constructor-arg name="employeeName" value="Gopal"/>-->
    <!--        <constructor-arg name="employeeId" value="abcd"/>-->
    <!--    </bean>-->
    <bean name="emp" class="org.gopal.Emp">
        <constructor-arg value="Gopal Kumar"/>
        <constructor-arg value="ggId" />
    </bean>
    <bean name="student" class="org.gopal.Student">
        <property name="studentName">
            <value>Gopal Kumar</value>
        </property>
        <property name="studentId">
            <value>Gopal Kumar</value>
        </property>
        <property name="phones">
            <value>Gopal Kumar</value>
        </property>
    </bean>
    <bean class="org.gopal.DemoStudent" name="demoStudent" p:student-ref="student" p:emp-ref="emp"/>
    <bean class="org.gopal.App" name="app"/>
    <!--    <bean class="org.gopal.Emp" name="emp" p:employeeName="Gopal"
    p:employeeId="ggoopp" />-->
</beans>